<!DOCTYPE html>
<html>
<head>
    <title>Mega Desk</title>
</head>
<body>
    <h1>Add Quote</h1>
    <form method="post">
        <label for="name">Name</label>
        <input name="name" value="@name" id="name" />

        <label for="width">Width:</label>
        <input name="width" value="@width" id="width" />

        <label for="height">Height:</label>
        <input name="height" value="@height" id="height" />

        <label for="drawers">Drawers:</label>
        <input name="drawers" value="@drawers" id="drawers" />

        <label for="material">Material:</label>
        @Html.DropDownList("surfaceMaterial", matSelect, Request.Form["surfaceMaterial"])

        <label for="shipping">Shipping:</label>
        @Html.DropDownList("shipping", shipSelect, Request.Form["shipping"])

        <button type="submit" id="addQ">Enter</button>
    </form>
</body>
</html>
