@{
    var Name = "";
    var Size = "";
    var Cost = "";
    var MaterialName = "";
    var Shipping = "";
    var DeskQuoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            DeskQuoteId = Request.QueryString["ID"];
            var db = WebMatrix.Data.Database.Open("MegaDesk");
            var dbCommand = "SELECT * FROM DeskQuote WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, DeskQuoteId);
            if (row != null)
            {
                var MatNum = row.MaterialId;
                var matQ = "SELECT * FROM SurfaceMaterial WHERE Id = @0";
                var MaterialRow = db.QuerySingle(matQ, MatNum);

                var ShipNum = row.ShippingId;
                var shipQ = "SELECT * FROM Shipping WHERE Id = @0";
                var ShipRow = db.QuerySingle(shipQ, ShipNum);

                Name = row.name;
                Size = row.size.ToString();
                Cost = row.cost.ToString();
                MaterialName = MaterialRow.materialName;
                Shipping = ShipRow.days.ToString();
            }
            else
            {
                Validation.AddFormError("No Desk Quote was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No Desk Quote was found for that ID.");
        }
        if (IsPost && !Request["buttonDelete"].IsEmpty())
        {
            DeskQuoteId = Request.Form["DeskQuoteId"];
            var db = WebMatrix.Data.Database.Open("MegaDesk");
            var deleteCommand = "DELETE FROM DeskQuote WHERE ID = @0";
            db.Execute(deleteCommand, DeskQuoteId);
            Response.Redirect("~/Home");
        }
    }

  }
    
            <!DOCTYPE html>
            <html>
            <head>
                <title>Mega Desk</title>
                <style>
                    .validation-summary-errors {
                        color: red;
                        font-weight: bold;
                        margin: 12px;
                    }
                </style>
            </head>
<body>
            <h2>Delete Desk Quote</h2>
            @Html.ValidationSummary()
            <form method="post">
                <fieldset>
                    <legend>Desk Quote Information</legend>
                    <p>
                        <span>Name</span>
                        <span>@Name</span>
                    </p>
                    <p>
                        <span>Size:</span>
                        <span>@Size</span>
                    </p>
                    <p>
                        <span>Cost:</span>
                        <span>@Cost</span>
                    </p>
                    <p>
                        <span>Shipping:</span>
                        <span>@Shipping</span>
                    </p>
                    <p>
                        <span>Material:</span>
                        <span>@MaterialName</span>
                    </p>
                    <input type="hidden" name="deskId" value="@DeskQuoteId" />
                    <p><input type="submit" name="buttonDelete" value="Delete Desk Quote" /></p>
                </fieldset>
                <p><a href="~/Home">Return to Main Page</a></p>
            </form>
            </body>
            </html>
