@{ 
    var Name = "";
    var Size = "";
    var Cost = "";
    var MaterialName = "";
    var ShippingId = "";
    var DeskId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            DeskId = Request.QueryString["ID"];
            var db = WebMatrix.Data.Database.Open("MegaDesk");
            var dbCommand = "SELECT * FROM DeskQuote WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, DeskId);

            if (row != null)
            {
                var MatNum = row.MaterialId;
                var matQ = "SELECT * FROM SurfaceMaterial WHERE Id = @0";
                var MaterialRow = db.QuerySingle(matQ, MatNum);

                Name = row.Name;
                Size = row.Size.ToString();
                Cost = row.cost.ToString();
                ShippingId = row.ShippingId.ToString();
                MaterialName = MaterialRow.materialName;
            }
            else
            {
                Validation.AddFormError("No Desk Quote selected.");
            }
        }
        else
        {
            Validation.AddFormError("No Desk Quote selected.");
        }
    }
    if (IsPost)
    {
        Validation.RequireField("Name, you must enter customer name");
        Validation.RequireField("Size, size is required");


        Name = Request.Form["Name"];
        Size = Request.Form["Size"];
        DeskId = Request.Form["DeskId"];


        if (Validation.IsValid(Name, Size))
        {
            var db = WebMatrix.Data.Database.Open("MegaDesk");
            var updateCommand = "UPDATE DeskQuote SET name=@0, size=@1 WHERE Id = @2";
            db.Execute(updateCommand, Name, Size, DeskId);
            Response.Redirect("~/Home");
        }

    }
}
<!DOCTYPE html>
    <h2>Edit Desk Quote</h2>
    @Html.ValidationSummary()
    <form method="post">
        <fieldset>
            <legend>Desk Quote Information</legend>
            <p>
                <label for="Name">Name:</label>
                <input type="text" name="Name" value="@Name" />
            </p>
            <p>
                <label for="Size">Size:</label>
                <input type="text" name="Size" value="@Size" />
            </p>
            <p>
                <label for="Cost">Cost:</label>
                <input type="text" name="Cost" value="@Cost" disabled/>
            </p>
            <p>
                <label for="shipping">Shipping:</label>
                <input type="text" name="ShippingId" value="@ShippingId" disabled />
            </p>
            <p>
                <label for="material">Material:</label>
                <input type="text" name="MaterialName" value="@MaterialName" disabled />
            </p>
            <input type="hidden" name="deskId" value="@DeskId" />
            <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
        </fieldset>
    </form>
    <p><a href="~/Home">Return to main Page</a></p>
