@{ 
    var scripDB = Database.Open("MegaDesk");
    var sortTerm = "name";

    var db = Database.Open("MegaDesk");
    var selectCommand = "SELECT * FROM DeskQuote";
    var searchTerm = "";
    if (!Request.QueryString["Date"].IsEmpty())
    {
        sortTerm = "date";
    }

    if (!Request.QueryString["searchKeyword"].IsEmpty())
    {
        selectCommand = "SELECT * FROM DeskQuote WHERE Name = @0";
        searchTerm = "%" + Request.QueryString["searchKeyword" + "%"];
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: sortTerm, rowsPerPage: 5);
}

<!DOCTYPE html>
<h2>Mega Desk</h2>
    <form method="get">
        <div>
            <label class="radio=inline">
                <input type="radio" name="Date" value="@Request.QueryString["Date"]"/> 
            </label>
            <label class="radio=inline">
                <input type="radio" name="Name" value="@Request.QueryString["Name"]"/>
                </label>  
        </div>
        <div>
            <label for=" SearchKeyword"> Customer Name:</label>
            <input type="text" name="searchKeyword" 
                   value="@Request.QueryString["searchKeyword"]"/>
            <input type="submit" value="SearchKeyword"/><br />
        </div>
    </form>
    <h1>Mega Desk</h1>
    <div>
        @grid.GetHtml(
   tableStyle:"grid",
   headerStyle:"head",
   alternatingRowStyle:"alt",
   columns: grid.Columns(
       grid.Column(format: @<a href="~/EditDesk?id=@item.Id" class="edit">Edit</a>), 
                 grid.Column(columnName: "Date", format: @<text>@item.Date_Added</text>),
                 grid.Column(canSort: true, columnName:"Name"),
                 grid.Column("size"),
                 grid.Column("Shipping"),
                 grid.Column("Drawers"),
                 grid.Column("Material Number"),
                 grid.Column("Total Cost"),

       grid.Column(format: @<a href="~/DeleteDesk?id=@item.id" class="delete">Delete</a>)
                          
        )
        )
                 
    </div>
<p><a href="~/AddQuote.cshtml">Get a Quote!</a></p>
